<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="this.router.navigate(['/'])">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="success" id="login" (click)="this.router.navigate(['/signin'])">
        Login
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dados do usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="E-mail:" [placeholder]="userData.email ? userData.email : 'Não preenchido'" [(ngModel)]="userData.email" disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Telefone:" [placeholder]="userData.phone ? userData.phone : 'Não preenchido'" [(ngModel)]="userData.phone" disabled></ion-input>
  </ion-item>
  <ion-button (click)="showForm()">Informe seus dados</ion-button>

</ion-content>
