<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="this.router.navigate(['/'])">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="danger" id="logout" (click)="this.authService.logout()">
        Sair
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MySpace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <h1>Bem-vindo, {{ user }}</h1>
      <!-- Aqui você pode adicionar qualquer mensagem de boas-vindas que desejar -->
    </ion-card-content>
  </ion-card>
</ion-content>
