<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Séries favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Séries favoritas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item *ngFor="let item of seriesList" (click)="showClickedItemName(item.title)">
        {{ item.title }}
      </ion-item>
    </ion-list>
    <ion-button href="/signup">Inscreva-se</ion-button>
  </ion-content>
</ion-content>
